{% extends "base.html" %}
{% block content %}
  {% load static %}
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
   <strong>Hello!</strong> {{message}}
   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
 </div>
    
  {% endfor %}
    
  {% endif %}

            
         
      <!--header section end -->
      
      <!-- contact section start -->
      <div class="contact_section layout_padding">
         <div class="container">
            <h1 class="contact_text">Our Contact</h1>
            <p class="pin">GET IN TOUCH</p>
            <p class="pin"><span style='color:red'>Our Friendly Team </span>would love to hear from you</p>

         </div>
      </div>


      <div class="services_section_2">
         <div class="row">
            <div class="col-lg-4 col-sm-12 col-md-4">
               <div class="box_main active">
                  <div class="house_icon">
                  </div>
                  <h3 class="decorate_text"><i class="fa-sharp fa-solid fa-location-dot"></i>LOCATION</h3>
                  <p class="tation_text">vyas-8,Tanahun,Gandaki,Nepal</p>
                  <div class="readmore_bt"><a href="#">Read More</a></div>
               </div>
            </div>
            <div class="col-lg-4 col-sm-12 col-md-4">
               <div class="box_main">
                  <div class="house_icon">
                  </div>
                  <h3 class="decorate_text"><i class="fa-solid fa-phone"></i>PHONE</h3>
                  <p class="tation_text">Mobile:(+977) 9816107823<br>Email:sujanthadarai710@gmail.com </p>
                  <div class="readmore_bt"><a href="#">Read More</a></div>
               </div>
            </div>
            <div class="col-lg-4 col-sm-12 col-md-4">
               <div class="box_main">
                  <div class="house_icon">
                  </div>
                  <h3 class="decorate_text"><i class="fa-solid fa-timer"></i>SERVICE TIME</h3>
                  <p class="tation_text"> MON-FRI  &nbsp;   &nbsp; 8am-8pm</p>
                  <p class="tation_text"> SAT-SUN  &nbsp; &nbsp;   <span>CLOSED</span></p>

                  <div class="readmore_bt"><a href="#">Read More</a></div>
               </div>
            </div>


      
      
      <div class="contact_section_2 layout_padding">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-6 padding_0">
                  <div class="form-container">
                  <form method="POST" action="{% url 'contact' %}" >
                     {% csrf_token %}
                     <span class="heading">Get in touch</span>
                     
                     <div class="form-container">
                        <div class="form">
                           <input required="" placeholder="Name" type="text" class="input" name="name">
                           <input required="" placeholder="Email"  type="email" class="input" name="email">
                           <input required="" placeholder="Phone Number"  type="tel" class="input" name="phone">
                           <textarea required="" placeholder="Say Hello" rows="10" cols="30" id="message" name="message" class="textarea"></textarea>
                           <div class="button-container">
                           <input type="submit" value="send" class="send-button">
                           
                        </div>
                     </div>
                     </div>
                  </form>
               </div>
                  
               </div>
               <div class="col-md-6 padding_0">
                  <div class="map-responsive">
                     <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Eiffel+Tower+Paris+France" width="600" height="508" frameborder="0" style="border:0; width: 100%;" allowfullscreen></iframe>
                  </div>
               </div>
            </div>
         </div>
      </div>
      {% endblock content %}
     